<div>    
    <% @tweets.each do |tweet|%>
          <div>
           <%= link_to user_path(tweet.author), class: "text-decoration-none" do %>
                  <%= tweet.author.full_name %>
                <% end %>
          <br>
            <%= tweet.text  %>
             <%= link_to edit_tweet_path(tweet) do %>
              <%= fa_icon "pencil", class: "nav-link"%>
              <%end%>
            <%= link_to tweet_path(tweet), method: :delete, data: {confirm: "Are you sure you want to delete this tweet?"} do %>
              <span class="icon"><i class="fa fa-trash"></i></span>
            <%end%> 
          </div>
          <br>
    <%end%>
</div>