<%= form_with model: @tweet do |form| %>
  <% if form.object.errors.any?%>
    <div class="alert alert-danger">
    <% form.object.errors.full_messages.each do |message|%>
    <div> <%= message%> </div>
    <%end%>
    </div>
  <%end%>
  <div class="form-field">
    <%= form.label :Tweet %>
    <%= form.text_area :text, class: "form-control", placeholder: "Type your tweet here" %>
  </div>
    <br>
  <div class="actions">
    <%= form.submit "Post a tweet"%>
  </div>
<% end %>
