<%= form_with model: @tweet do |form| %>
  <% if form.object.errors.any?%>
    <div class="alert alert-danger">
    <% form.object.errors.full_messages.each do |message|%>
    <div> <%= message%> </div>
    <%end%>
    </div>
  <%end%>
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
