<div class="menu">
    <strong><%= current_user.full_name.upcase%></strong>
    <ul>
        <%= link_to root_path do %>
            <%= fa_icon "home 2x", class: "nav-link text-light"%>
        <%end%> 
            <strong><%= link_to "HOME", root_path, class: "text-light"%></strong>
      
        <%= link_to root_path do %>
            <%= fa_icon "globe 2x", class: "nav-link text-light"%>
        <%end%> 
            <strong><%= link_to "CONNECT", root_path, class: "text-light"%></strong>
        
        <%= link_to root_path do %>
            <%= fa_icon "hashtag 2x", class: "nav-link text-light"%>
        <%end%> 
            <strong><%= link_to "DISCOVER", root_path, class: "text-light"%></strong>
      
        <%= link_to root_path do %>
            <%= fa_icon "user 2x", class: "nav-link text-light"%>
        <%end%> 
            <strong><%= link_to "PROFILE", root_path, class: "text-light"%></strong>
    </ul>
</div>