     <div class="grid-container">
     <div>
        <%= render 'shared/menu'%>
      </div>
      <div>
       <div><%= render partial: 'layouts/navbar' %></div>
      <div class = "my-row" >
      <div class="col-9 pad">
      
      <%= render partial: 'layouts/navbar1' %>
        <%= render 'form'%>
        <%= render 'shared/feed'%>
      </div>  

       <div class="col">
          <%= render 'shared/follow'%>
          <%= render 'shared/trends'%>
        </div>
    </div>
      </div>
      
     </div>
    
    