    
    <div class="row mx-auto">
    
      <div class="col-2">
        <%= render 'menu'%>
      </div>
       
      <div class="col-7">
      <%= render partial: 'layouts/navbar1' %>
        <%= render 'form'%>
        <%= render 'feed'%>
      </div>  

       <div class="col pull-right">
          <%= render 'follow'%>
          <%= render 'trends'%>
        </div>
    </div>