<div class="row d-flex">
  <div class="col-3">
    <%= render 'menu'%>
  </div>
  <div class="col-5">
  <%= render partial: 'layouts/navbar1' %>
    <%= render 'form'%>
    <%= render 'feed'%>
  </div>

  <div class="col-3">
    <%= render 'follow'%>

    <%= render 'trends'%>
  </div>





</div>
