<div class="pro ">
<div class = "add_button">
    <%= link_to user_path do %>
      <%= fa_icon "plus-circle 2x", class: "text-secondary"%>
    <%end%>
    </div> 
    <div>
    <%= image_tag user_photo(current_user, 1000), class: "rounded-circle"%>
    </div>
</div>

<div>
          <div class = "text-center">
           
        <strong> <%= @user.full_name %>  </strong>

          <br>
          <p>@<%= @user.username%></p><br>
      </div>
         
</div>