<div class="grid-container">
  <div>
    <%= render 'tweets/menu'%>
  </div>
  <div> 
    <%= render partial: 'layouts/navbar' %>
    <div class = "my-row" >
    <div class="col-9">
      <%= render partial: 'layouts/navbar1' %>
      <div  >
    <%= image_tag cover_photo(current_user, 1000), class: "rounded img-fluid. max-width: 100%"%>
    </div>
        <%= render 'tweets/form'%>
        <%= render 'tweets/feed'%>
    </div>  

  <div class="col">
    <%= render 'users/profile'%>
    FOLLOWED BY
        
  </div>
  </div>
      </div>
      
</div>
    
    