<div class="row">
<div class="col-6">
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <%= link_to root_path do %>
    <%= fa_icon "twitter 2x", class: "text-light"%>
    <%end%>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item">
          <%= link_to 'NEW TWEET', new_tweet_path, class:"nav-link" %>
          </li>
      </ul>
        <ul class= "navbar-nav  ms-auto mb-lg-0">
        <li class="nav-item">
      <%= link_to root_path do %>
    <%= fa_icon "pencil", class: "nav-link"%>
    <%end%>
    </li>
    <li class="nav-item">
      <%= link_to root_path do %>
    <%= fa_icon "envelope", class: "nav-link"%>
    <%end%>
      </li>
    <li class="nav-item">
      <%= link_to root_path do %>
    <%= fa_icon "search", class: "nav-link"%>
    <%end%>
      </li>
    <li class="nav-item">
      <%= link_to root_path do %>
    <%= fa_icon "cog", class: "nav-link"%>
    </li>
    <%end%>
        <%if current_user%>
        <li class = "nav-item">
        <%= link_to current_user.username, edit_user_password_path, class: "nav-link"%>
        </li>
        
          <li class = "nav-item"> 
          <%= button_to 'logout', destroy_user_session_path, method: :delete, class: "nav-link"%>
          </li>
           <%else%>
           <li class = "nav-item"> 
           <%= link_to 'SignUp', new_user_registration_path, class: "nav-link"%>
           </li>
           <li class = "nav-item">
            <%= link_to 'Login', new_user_session_path, class: "nav-link"%>
           </li>
           <li class = "nav-item">
           
        <%end%>
        </ul>
    </div>
  </div>
</nav>
</div>
</div>